<h1 class="text-center my-4 display-4 font-weight-bold text-white animate__animated animate__fadeInDown animate__delay-1s"
    data-bs-animation="true" data-bs-toggle="tooltip" title="Make Every Shopping Moment Special ♥">
    <marquee behavior="alternate" direction="left" scrollamount="5"
             style="background: linear-gradient(to right, #414141, #190c0c); padding: 20px; border-radius: 10px; animation: pop 1s ease-in-out, colorChange 2s infinite;">
        Make Every Shopping Moment Special ♥
    </marquee>
</h1>
